<h4>Equipo de TECNOLOGÍA </h4>
<mat-tab-group>
	<div #editable></div>
  <mat-tab label="Daily">
		<h3>Hoy</h3>
		<!-- <textarea name="ayerhice" id="" cols="30" rows="10" placeholder="Ayer..."></textarea> -->
		<!-- <angular-editor id="editor1" [config]="editorConfig"></angular-editor> -->
		<div #editable></div>
			<button mat-raised-button mat-button color="warm">BORRAR</button>
			<a mat-stroked-button class="save-button" (click)="exportData()">
				Exportar Notas<mat-icon>download</mat-icon>
			</a>
			<mat-slide-toggle [(ngModel)]="isChecked" >Anteriores</mat-slide-toggle>
			<hr>
			<div *ngIf="isChecked">
				<h3>Anteriores</h3>
				<angular-editor id="editor2" [config]="editorConfig"></angular-editor>
				<button mat-button mat-raised-button color="warm">BORRAR</button>
			</div>

	</mat-tab>
  <mat-tab label="Notas Generales">
		<mat-card>
			<mat-card-title>Notas generales</mat-card-title>
			<mat-card-subtitle>Equipo Desarrollo</mat-card-subtitle>
			<mat-form-field appearance="standard">
				<textarea matInput></textarea>
			</mat-form-field>
			<mat-card-actions>
				<button mat-button>GUARDAR</button>
				<button mat-button>BORRAR</button>
			</mat-card-actions>
		</mat-card>
	</mat-tab>
</mat-tab-group>
