h3{
	display: flex;
	justify-content: center;
	color: #373d38;
}
textarea {
	padding-top: 1em;
	padding-left: 1em;
	height: 300px;
	width: 95%;
	border: #f3f3f3;
	font-family: “Helvetica Neue”,  sans-serif
}
.save-button {
	float: right;
	right: 20px;
	margin: 10px;
}
.mat-form-field{
	width: 100%;
}
.mat-tab-body-content {
	overflow-x: hidden;
	overflow-y: unset;
}
button{
	margin: 1em;
}

