

.cdk-global-scrollblock {
  position: relative !important;
}
body {
	margin: 0;
	padding: 1em;
	font-family: "Helvetica Neue", sans-serif;
	width: 400px;
	height: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
	background: #f2f2f2;
}


.angular-editor-textarea{
	background: #fff !important;
	border: none !important;
	height: 150px !important;
}
